<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>
<table>
  <thead>
      <th colspan="3"></th>
  </thead>

  <tbody>
        <% @posts.each do |post| %>
        <div class="panel panel-default">
        <div class="panel-body"><h3><%= post.title %></h3></div><br>
        <div class="panel-footer"><h4><%= post.body %></h4>
        <%= link_to 'Show ', post %>
        <%= link_to 'Edit ', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      </div>
    <% end %>
  </tbody>
</table>

<br>
