<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
  <%= tinymce %><br/>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<% @comments.each do |comment| %>
<%=comment.text%>
<% end%>

<%= form_for :postscomment, url: post_postscomments_path(@post.id) do |f| %>

    <% if flash[:notice] %>
        <div class="notice"> <%= flash[:notice] %> </div>
    <% end %>
    <div align="center">
    <p><%= f.label "Write Comment" %></p>
    <%= f.text_area :text, cols: 10, rows: 5 %><br />
    <br/>
    <p><%= f.submit "Send", class: "btn btn-primary active"%></p><br/>
<%end%>
